{% extends 'core/base.html' %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Сотрудники</h1>
    <p class="mb-4">Сотрудники</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Сотрудники</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ФИО</th>
                            <th>Роль</th>
                            <th>Телефон</th>
                            <th>E-Mail</th>
                            <th>Должность</th>
                            <th>Статус</th>
                            <th>Свойства</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ФИО</th>
                            <th>Роль</th>
                            <th>Телефон</th>
                            <th>E-Mail</th>
                            <th>Должность</th>
                            <th>Статус</th>
                            <th>Свойства</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    {% for employee in employees %}
                        <tr>
                            <td>{{ employee }}</td>
                            <td>{{ employee.get_role_display }}</td>
                            <td>{{ employee.phone }}</td>
                            <td>{{ employee.email }}</td>
                            <td>{{ employee.post }}</td>
                            {% if employee.status %}
                                <td><label class="btn btn-success btn-sm">Активен</label></td>
                            {% else %}
                                <td><label class="btn btn-secondary btn-sm">Заблокирован</label></td>
                            {% endif %}
                            <td><a href="{% url 'employee_edit' id=employee.id %}" class="btn btn-primary btn-sm">Открыть</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            <div class="m-t-20">
                <a href="{% url 'employee_add' %}"
                   class="btn btn-success waves-effect waves-light m-l-10 btn-md">
                    +Добавить пользователя
                </a>
            </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}