{% extends 'core/base.html' %}

{% block content %}
    <div class="container-fluid">

        <!-- Page Heading -->


        <div class="column">
            {% if t1 > 0 or t2 > 0 %}
                {% if t1 > 0 %}
                    <h5> Задачи в процессе:</h5>
                    <div class="row">
                        {% for object in tasks %}
                            {% if object.get_type == 1 %}
                                <div class="col-xl-4 col-lg-2">
                                    <div class="card shadow mb-4">
                                        <!-- Card Header - Dropdown -->
                                        <div
                                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                                                style="background-color: #f6c23e;">
                                            <h6 class="m-0 font-weight-bold" style="color: #f8f9fc;">{{ object.name }}
                                                | {{ object.created.isoformat }}</h6>
                                        </div>
                                        <!-- Card Body -->
                                        <div class="card-body">
                                            <div class="chart-area" , style="height: 10rem">
                                                <h6></h6>
                                                <h6><b>Посл. сообщение</b></h6>
                                                <p></p>
                                                <p> {{ object.messages.last.author.surname }} {{ object.messages.last.author.name }} {{ object.messages.last.author.last_name }}:</p>
                                                {{ object.messages.last.message }}
                                            </div>
                                            <a href="{% url 'task' id=object.id %}"
                                               class="btn btn-warning mr-auto mb-auto">Открыть
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if t2 > 0 %}
                    <h5> Просроченные задачи:</h5>
                    <div class="row">
                        {% for object in tasks %}
                            {% if object.get_type == 2 %}
                                <div class="col-xl-4 col-lg-2">
                                    <div class="card shadow mb-4">
                                        <!-- Card Header - Dropdown -->
                                        <div
                                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                                                style="background-color: #e74a3b;">
                                            <h6 class="m-0 font-weight-bold" style="color: #f8f9fc;">{{ object.name }}
                                                | {{ object.created.isoformat }}</h6>
                                        </div>
                                        <!-- Card Body -->
                                        <div class="card-body">
                                            <div class="chart-area" , style="height: 10rem">
                                                <h6></h6>
                                                <h6><b>Посл. сообщение</b></h6>
                                                <p></p>
                                                <p> {{ object.messages.last.author.surname }} {{ object.messages.last.author.name }} {{ object.messages.last.author.last_name }}:</p>
                                                {{ object.messages.last.message }}
                                            </div>
                                            <a href="{% url 'task' id=object.id %}"
                                               class="btn btn-danger mr-auto mb-auto">Открыть
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}

            {% if t3 > 0 or t4 > 0 %}
                {% if t3 > 0 %}
                    <h5> Задачи в процессе:</h5>
                    <div class="row">
                        {% for object in tasks %}
                            {% if object.get_type == 3 %}
                                <div class="col-xl-4 col-lg-2">
                                    <div class="card shadow mb-4">
                                        <!-- Card Header - Dropdown -->
                                        <div
                                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                                                style="background-color: #f6c23e;">
                                            <h6 class="m-0 font-weight-bold" style="color: #f8f9fc;">{{ object.name }}
                                                | {{ object.created.isoformat }}</h6>
                                        </div>
                                        <!-- Card Body -->
                                        <div class="card-body">
                                            <div class="chart-area" , style="height: 10rem">
                                                <h6></h6>
                                                <h6><b>Посл. сообщение</b></h6>
                                                <p></p>
                                                <p> {{ object.messages.last.author.surname }} {{ object.messages.last.author.name }} {{ object.messages.last.author.last_name }}:</p>
                                                {{ object.messages.last.message }}
                                            </div>
                                            <a href="{% url 'task' id=object.id %}"
                                               class="btn btn-warning mr-auto mb-auto">Открыть
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if t4 > 0 %}
                    <h5> Просроченные задачи:</h5>
                    <div class="row">
                        {% for object in tasks %}
                            {% if object.get_type == 4 %}
                                <div class="col-xl-4 col-lg-2">
                                    <div class="card shadow mb-4">
                                        <!-- Card Header - Dropdown -->
                                        <div
                                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                                                style="background-color: #e74a3b;">
                                            <h6 class="m-0 font-weight-bold" style="color: #f8f9fc;">{{ object.name }}
                                                | {{ object.created.isoformat }}</h6>
                                        </div>
                                        <!-- Card Body -->
                                        <div class="card-body">
                                            <div class="chart-area" , style="height: 10rem">
                                                <h6></h6>
                                                <h6><b>Посл. сообщение</b></h6>
                                                <p></p>
                                                <p> {{ object.messages.last.author.surname }} {{ object.messages.last.author.name }} {{ object.messages.last.author.last_name }}:</p>
                                                {{ object.messages.last.message }}
                                            </div>
                                            <a href="{% url 'task' id=object.id %}"
                                               class="btn btn-danger mr-auto mb-auto">Открыть
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}

            {% if t5 > 0 or t6 > 0 %}
                {% if t5 > 0 %}
                    <h5> Задачи в процессе:</h5>
                    <div class="row">
                        {% for object in tasks %}
                            {% if object.get_type == 5 %}
                                <div class="col-xl-4 col-lg-2">
                                    <div class="card shadow mb-4">
                                        <!-- Card Header - Dropdown -->
                                        <div
                                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                                                style="background-color: #f6c23e;">
                                            <h6 class="m-0 font-weight-bold" style="color: #f8f9fc;">{{ object.name }}
                                                | {{ object.created.isoformat }}</h6>
                                        </div>
                                        <!-- Card Body -->
                                        <div class="card-body">
                                            <div class="chart-area" , style="height: 10rem">
                                                <h6></h6>
                                                <h6><b>Посл. сообщение</b></h6>
                                                <p></p>
                                                <p> {{ object.messages.last.author.surname }} {{ object.messages.last.author.name }} {{ object.messages.last.author.last_name }}:</p>
                                                {{ object.messages.last.message }}
                                            </div>
                                            <a href="{% url 'task' id=object.id %}"
                                               class="btn btn-warning mr-auto mb-auto">Открыть
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if t6 > 0 %}
                    <h5> Просроченные задачи:</h5>
                    <div class="row">
                        {% for object in tasks %}
                            {% if object.get_type == 6 %}
                                <div class="col-xl-4 col-lg-2">
                                    <div class="card shadow mb-4">
                                        <!-- Card Header - Dropdown -->
                                        <div
                                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                                                style="background-color: #e74a3b;">
                                            <h6 class="m-0 font-weight-bold" style="color: #f8f9fc;">{{ object.name }}
                                                | {{ object.created.isoformat }}</h6>
                                        </div>
                                        <!-- Card Body -->
                                        <div class="card-body">
                                            <div class="chart-area" , style="height: 10rem">
                                                <h6></h6>
                                                <h6><b>Посл. сообщение</b></h6>
                                                <p></p>
                                                <p> {{ object.messages.last.author.surname }} {{ object.messages.last.author.name }} {{ object.messages.last.author.last_name }}:</p>
                                                {{ object.messages.last.message }}
                                            </div>
                                            <a href="{% url 'task' id=object.id %}"
                                               class="btn btn-danger mr-auto mb-auto">Открыть
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}

            {% if t7 > 0 or t8 > 0 %}
                {% if t7 > 0 %}
                    <h5> Задачи в процессе:</h5>
                    <div class="row">
                        {% for object in tasks %}
                            {% if object.get_type == 7 %}
                                <div class="col-xl-4 col-lg-2">
                                    <div class="card shadow mb-4">
                                        <!-- Card Header - Dropdown -->
                                        <div
                                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                                                style="background-color: #f6c23e;">
                                            <h6 class="m-0 font-weight-bold" style="color: #f8f9fc;">{{ object.name }}
                                                | {{ object.created.isoformat }}</h6>
                                        </div>
                                        <!-- Card Body -->
                                        <div class="card-body">
                                            <div class="chart-area" , style="height: 10rem">
                                                <h6></h6>
                                                <h6><b>Посл. сообщение</b></h6>
                                                <p></p>
                                                <p> {{ object.messages.last.author.surname }} {{ object.messages.last.author.name }} {{ object.messages.last.author.last_name }}:</p>
                                                {{ object.messages.last.message }}
                                            </div>
                                            <a href="{% url 'task' id=object.id %}"
                                               class="btn btn-warning mr-auto mb-auto">Открыть
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if t8 > 0 %}
                    <h5> Просроченные задачи:</h5>
                    <div class="row">
                        {% for object in tasks %}
                            {% if object.get_type == 8 %}
                                <div class="col-xl-4 col-lg-2">
                                    <div class="card shadow mb-4">
                                        <!-- Card Header - Dropdown -->
                                        <div
                                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                                                style="background-color: #e74a3b;">
                                            <h6 class="m-0 font-weight-bold" style="color: #f8f9fc;">{{ object.name }}
                                                | {{ object.created.isoformat }}</h6>
                                        </div>
                                        <!-- Card Body -->
                                        <div class="card-body">
                                            <div class="chart-area" , style="height: 10rem">
                                                <h6></h6>
                                                <h6><b>Посл. сообщение</b></h6>
                                                <p></p>
                                                <p> {{ object.messages.last.author.surname }} {{ object.messages.last.author.name }} {{ object.messages.last.author.last_name }}:</p>
                                                {{ object.messages.last.message }}
                                            </div>
                                            <a href="{% url 'task' id=object.id %}"
                                               class="btn btn-danger mr-auto mb-auto">Открыть
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}

            {% if t0 > 0 %}
                <h5><b>Закрытые задачи</b></h5>
                <div class="row">
                    {% for object in tasks %}
                        {% if object.get_type == 0 %}
                            <div class="col-xl-4 col-lg-2">
                                <div class="card shadow mb-4">
                                    <!-- Card Header - Dropdown -->
                                    <div
                                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                                            style="background-color: #858796;">
                                        <h6 class="m-0 font-weight-bold" style="color: #f8f9fc;">{{ object.name }}
                                            | {{ object.created.isoformat }}</h6>
                                    </div>
                                    <!-- Card Body -->
                                    <div class="card-body">
                                        <div class="chart-area" , style="height: 10rem">
                                            <h6></h6>
                                            <h6><b>Посл. сообщение</b></h6>
                                            <p></p>
                                            <p> {{ object.messages.last.author.surname }} {{ object.messages.last.author.name }} {{ object.messages.last.author.last_name }}:</p>
                                            {{ object.messages.last.message }}
                                        </div>
                                        <a href="{% url 'task' id=object.id %}"
                                           class="btn btn-secondary mr-auto mb-auto">Открыть
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if request.user.is_superuser %}
                <a href="{% url 'card_task' proj_id=proj_id id=0 %}"
                   class="btn btn-success mr-auto mb-auto">+Добавить задачу
                </a>
            {% endif %}
        </div>

    </div>
{% endblock %}